<div class="background">
  <div class="my-container">
    <ng-template [ngIf]="displayStopwatch">
      <div class="fields">
        <fieldset class="add_new">
          <form (submit)="addStopwatch()">
            <input class="input" placeholder="New Stopwatch Name" type="text" [(ngModel)]="taskName" name="Name">
            <button class="but" type="submit">Add</button>
            <mat-menu #shareStopwatch="matMenu">
              <button type="button" mat-menu-item (click)="exportAllStopwatchesAsXml()">Export as .XML</button>
              <button type="button" mat-menu-item (click)="exportAllStopwatchesAsCsv()">Export as .CSV</button>
              <button type="button" mat-menu-item (click)="importFile.click()">Import file...</button>
              <input type="file" (change)="browseFile($event)" name="uploadFile" accept=".csv,.xml" #importFile hidden> 
            </mat-menu>
            <button type="button" matTooltip="Import/Export" mat-icon-button [matMenuTriggerFor]="shareStopwatch">
              <mat-icon>more_vert</mat-icon>
            </button>
            <span>Export | Import</span>
          </form>
        </fieldset>
        <fieldset class="other">
          <input [(ngModel)]="searchText" class="search" placeholder="Find Stopwatch By Name">
        </fieldset>
      </div>
      <div class="top-tittles">
        <div class="name-title" (click)="filterByProperty('name')">
          Name
        </div>
        <div class="goal-title">
          Time
        </div>
        <div class="actions-title">
          Actions
        </div>
      </div>
      <mat-list>
        <mat-list-item *ngFor='let task of taskService.stopwatches | filter: searchText' class="grid-container">
          <div class="name">
            <p (click)="toggleCollapsed(task)">{{task.name}}</p>
            <div *ngIf="task.isCollapsed===false">
              <input [(ngModel)]="task.name" />
              <button (click)="updateTask(task)">save</button>
            </div>
          </div>
          <div class="time">
            <app-line-progress class="textsize" [value]="task.hour" [text]="':'"></app-line-progress>
            <app-line-progress class="textsize" [value]="task.minutes" [text]="':'"></app-line-progress>
            <app-line-progress class="textsize" [value]="task.seconds" [text]="''"></app-line-progress>
          </div>
          <div class="actions">
            <button class="but" (click)="startTask(task)"><i class="fa fa-play"></i></button>
            <button class="but" [disabled]="task.isRunning === false" (click)="pauseTask(task)"><i class="fa fa-pause"></i></button>
            <button class="but" [disabled]="task.isRunning === false" (click)="reset(task)"><i class="fa fa-refresh"></i></button>
            <button class="but"><i class="fa fa-bars"></i></button>
            <button class="but" (click)="deleteTask(task)"><i class="fa fa-times"></i></button>
            <button class="but" (click)="taskService.DisplayTaskOnStopwatchPage(task)"
              [matTooltipShowDelay]="2000" matTooltip="Display on stopwatch page"><i class="fa fa-stopwatch"></i></button>
          </div>
        </mat-list-item>
      </mat-list>
    </ng-template>
    <ng-template [ngIf]="displayTimer">
      <div class="fields">
        <fieldset class="add_new">
          <form (submit)="addTimer()">
            <input class="input" placeholder="New Timer Name" type="text" [(ngModel)]="taskName" name="Name">
            <button class="but" type="submit">Add</button>
            <mat-menu #shareTimer="matMenu">
              <button type="button" mat-menu-item (click)="exportAllTimersAsXml()">Download .XML</button>
              <button type="button" mat-menu-item (click)="exportAllTimersAsCsv()">Download .CSV</button>
              <button type="button" mat-menu-item (click)="importFile.click()">Import file...</button>
              <input type="file" (change)="browseFile($event)" name="uploadFile" accept=".csv,.xml" #importFile hidden> 
            </mat-menu>
            <button type="button" matTooltip="Import/Export" mat-icon-button [matMenuTriggerFor]="shareTimer">
              <mat-icon>import_export</mat-icon>
            </button>
          </form>
        </fieldset>
        <fieldset class="other">
          <input [(ngModel)]="searchText" class="search" placeholder="Find Timer By Name">
        </fieldset>
      </div>
      <div class="top-tittles">
        <div class="name-title" (click)="filterByProperty('name')">
          Name
        </div>
        <div class="time-title">
          Goal
        </div>
        <div class="goal-title">
          Time
        </div>
        <div class="actions-title">
          Actions
        </div>
      </div>
      <mat-list class="time-container">
        <mat-list-item *ngFor='let task of taskService.timers | filter: searchText' class="grid-container">
          <div class="name">
            <p (click)="toggleCollapsed(task)">{{task.name}}</p>
            <div *ngIf="task.isCollapsed===false">
              <input [(ngModel)]="task.name" />
              <button (click)="updateTask(task)">save</button>
            </div>
          </div>
          <div class="time">
              <ng-template [ngIf]="task.maxValueHour < 10">
                  <span>0</span>
                </ng-template>
            <p>{{task.maxValueHour}}</p>
            <p>:</p>
            <ng-template [ngIf]="task.maxValueMinute < 10">
                <span>0</span>
              </ng-template>
            <p>{{task.maxValueMinute}}</p>
            <p>:</p>
            <ng-template [ngIf]="task.maxValueSecond < 10">
                <span>0</span>
              </ng-template>
            <p>{{task.maxValueSecond}}</p>
          </div>
          <div class="time">
            <app-line-progress class="textsize" [value]="task.hour" [text]="':'"></app-line-progress>
            <app-line-progress class="textsize" [value]="task.minutes" [text]="':'"></app-line-progress>
            <app-line-progress class="textsize" [value]="task.seconds" [text]="''"></app-line-progress>    
          </div>                   
          <div class="actions">
            <button class="but" (click)="startTimer(task)"><i class="fa fa-play"></i></button>
            <button class="but" [disabled]="task.isRunning === false" (click)="pauseTimer(task)"><i class="fa fa-pause"></i></button>
            <button class="but" [disabled]="task.isRunning === false" (click)="resetTimer(task)"><i class="fa fa-refresh"></i></button>
            <button class="but"><i class="fa fa-bars"></i></button>
            <button class="but" (click)="deleteTimer(task)"><i class="fa fa-times"></i></button>
            <button class="but" (click)="taskService.DisplayTaskOnTimerPage(task)"
              [matTooltipShowDelay]="2000" matTooltip="Display on stopwatch page"><i class="fa fa-clock-o"></i></button>
          </div>
        </mat-list-item>
      </mat-list>
    </ng-template>
    <mat-list>
      <mat-list-item class="grid-container">
        <div class="display-buttons">
          <div>
            <div class="buttons">
              <button mat-raised-button [ngClass]="{'active': displayStopwatch}" (click)="displayStopwatches()">Stopwatches</button>
              <button mat-raised-button [ngClass]="{'active': displayTimer}" (click)="displayTimers()">Timers</button>
            </div>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>