.background {
    position: absolute;
    top: auto;
    min-height: calc(100vh - 49px);
    width: 100%;
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    min-width: 1000px;
}

.time-container {
    display: block;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    height: inherit;
}

.fields {
    width: 100%;
    height: 50px;
    padding-top: 3px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 870px;
}

fieldset {
    border: none;
}

.but{
    width: 50px;
    height: 36px;
    border: none;
    border-radius: 5%;
    background-color: lightgrey;
    position: relative;
}

.but:hover {
   background-color: darkgrey;
}

.add_new {
    min-width: 50%;
    position: relative;
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
}

.input {
    width: 40%;
    height: 30px;
    border: 0,1px solid grey;
    margin-right: 10px;
}

.other {
    position: relative;
    display: inline-block;
    margin-left: -4%;
    min-width: 48%;
    text-align: right;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

.buttons {
    display: flex;
    position: relative;
}

.button {
    display: flex;
    position: relative;
}

.search {
    margin-left: 4%;
    height: 30px;
    margin-right: 5%;
}

select {
    height: 36px;
}

.taskName {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    color:#333;
    padding: 20px;
}

.right {
    width: 1%;
}

.textSize {
    font-size: 14px;
}

.name {
    width: 20%;
    min-width: 100px;
    overflow: hidden;
}

.goal {
    width: 25%;
}

.actions {
    width: 60%;
    text-align: right;
}

.actionsstopwatch {
    width: 70%;
    text-align: right;
}

mat-list-item {
    box-shadow:  0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    margin-top: 6px;
    margin-bottom: 6px;
    background-color:  #f9f9f9;
    border-radius: 5px;
}

.my-container {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}

.top-tittles {
    display: flex;
    flex-direction: row;
    margin-top:50px;
    width: 100%;
    padding-left: 16px;
    min-width: 870px;
}

.sth {
    justify-content: space-between;
}

.name-title {
    width: 19%;
    cursor: pointer;
}

.button .active {
    background-color: lightgray;
}

.time-title {
    width: 10%;   
    text-align: center;
}

.goal-title {
    width: 10%;
    text-align: center;
}

.progres-title {
    width: 10%;
    text-align: center !important;
}

.actions-title {
    width: 45%;
    text-align: right;
    margin-right: 159px;
}

.actions-titlestopwatch {
    width: 55%;
    text-align: right;
    margin-right: 159px;
}

app-progress {
    text-align: left !important;
    width: 10%;
}

.time {
    font-size: 16px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    width: 10%;
    min-width: 70px;
    align-items: baseline;
}

.btn-group button {
    height: auto;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
}

.fa {
    color: black;
}

.fas {
    color: black;
}

.buttons {
    position: relative;
}

.mat-icon {
    transform: scale(1.5);
}
.topButtons .mat-raised-button {
    height: 40px;
    margin-right: 0px;
    background-color: #dededa;
}
.topButtons .active {
    background-color: white;
}
#firstTopButton {
    border-bottom-right-radius: 0px; 
    border-top-right-radius: 0px;
    padding-right: 10px;
    padding-left:10px;
}

#secondTopButton {
    border-bottom-left-radius: 0px; 
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px; 
    border-top-right-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.timer-list {
    min-width: 870px;
}

.displaybuttons {
    display: inline-block;
}

.flex-container {
    display: flex;
    margin-top: 25px;
    align-items: center;
}

.pagination button {
    border-radius: 0;
}

.pagination button:first-child {
    border-radius: 5px 0 0 5px;
}

.pagination button:last-child {
    border-radius: 0 5px 5px 0;
}

.pagination button.active {
    background: #97d9e1;
    cursor: pointer;
}

.pagination button[disabled] i {
    color: #dededa;
}

.pagination button[disabled] {
    background: #f9f9f9;
}

.pagination button[disabled]:hover {
    cursor: not-allowed;
}

.pagination {
    flex-grow: 1;
    text-align: center;
}

.mat-select {
    text-align: center;
    text-align-last: center;
}

.pagination .mat-raised-button {
    min-width: 1px;
    padding: 0 16px;
}
