<h1 mat-dialog-title>Enter your email</h1>
<form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit(passwordResetForm)" class="reset-password-form" novalidate>
  <mat-dialog-content class = "passwordResetContent">
    <mat-form-field class="reset-password-full-width">
      <input matInput formControlName="email" placeholder="Email">
      <mat-error>{{getErrorMessageEmail()}}</mat-error>
    </mat-form-field>
  </mat-dialog-content>
</form>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!passwordResetForm.valid">Submit</button>
  <div class="flex-spacer"></div>
  <div class="flex-spacer"></div>
  <button mat-raised-button color="warn" (click)="closeResetPasswordForm()">Close</button>
</mat-dialog-actions>
