.reset-password-form {
    width: 320px;
}

.reset-password-full-width {
    width: 100%;
}

.passwordResetContent {
    margin-top: -10px;
    margin-bottom: 5px;
}

.flex-spacer {
    flex: 1 1 auto;
}

label {
    color: red;
    font-size: large;
}