.font {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.presets-header {
    margin-bottom: 30px;
    font-size: 25px;
}
.presets-full-width {
    width: 100%;
}
.add-timer-button {
    text-align: center;
    margin-top: 10px;
}
.add-timer-icon {
    font-size: 36px;
    color: black;
}
.delete-timer-icon {
    color: black;
}
.delete-preset {
    float: right;
}
.add-new-preset-button {
    background-color: transparent;
    border: none;
    color: blue;
    font-size: 17px;
    margin-left: -5px;
    margin-right: -5px;
}
.auto-start-timers {
    margin-top: 20px;
    margin-bottom: 20px;
}
.timer-element-width {
    margin-left: 10px;
    width: 83px;
}
@media(max-width:550px) {
    .timer-element-width {
        margin-left: 1%;
        min-width: 48px;
        width: 22%;
    }

    .small-screen {
        min-width: 56px;
        width:20%;
    }

    .small-screen-icon {
        width: 10%;
    }
}
.mat-icon-button .mat-icon, .mat-icon-button i {
    line-height: 23px;
}
.margin-top {
    margin-top: 10px;
}
.preset-selector {
    margin-top: 10px;
    margin-bottom: -20px;
}
.additional-message {
    font-size: 17px;
}
.close-button {
    margin-left: 8px;
}
