.presets-form {
    width: 500px;
}
.presets-header {
    margin-bottom: 30px;
    font-size: 25px;
}
.presets-full-width {
    width: 100%;
}
.add-timer-button {
    text-align: center;
    margin-top: 10px;
}
.add-timer-icon {
    font-size: 36px;
    color: black;
}
.delete-timer-icon {
    color: black;
}
.add-new-preset-button {
    background-color: transparent;
    border: none;
    color: blue;
    font-size: 15px;
}
.auto-start-timers {
    margin-top: 20px;
    margin-bottom: 20px;
}
.timer-element-width {
    margin-left: 10px;
    width: 83px;
}
.mat-icon-button .mat-icon, .mat-icon-button i {
    line-height: 23px;
}
.margin-top {
    margin-top: 10px;
}
.preset-selector {
    margin-top: 10px;
    margin-bottom: -20px;
}
.additional-message {
    font-size: 17px;
}
