.back {
    position: absolute;
    top: auto;
    min-height: calc(100vh - 49px);
    width: 100%;
    background-image: url('clock.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
    
    .signin-header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    }
    
    .signin-card {
    width: 300px;;
    margin: 10% auto;
    box-shadow: none;
    background-color: rgba(255,255,255,0.8);
    }
    
    .signin-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    }
    
    
    .mat-ink-bar{
    background-color:#00ADEE;
    }
    .mat-tab-label-active{
    color: #00ADEE !important;
    }
    .mat-flat-button {
        border-radius: 0;
    }

    .tempButton {
        background-color: transparent;
        border: none;
        text-decoration: underline;
        color: blue;
    }
