<div class="back">
  <mat-card class="signin-card">
    <mat-card-header class="signin-header">
      <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>
    <form [formGroup]="signinform" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="signin-form">
          <input matInput placeholder="Enter your email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && controlElements.email.errors }">
          <mat-error>{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="signin-form">
          <input matInput [type]="hide ? 'text':'password'" placeholder="Enter your password" formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && controlElements.password.errors }">
          <mat-icon class="unselectable" matSuffix (click)="hide = !hide" unselectable="on">{{hide ? 'visibility'
            :'visibility_off'}}</mat-icon>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button [disabled]="!signinform.valid" color="primary" class="emailAuth">Sign In</button>
      </mat-card-actions>
    </form>
    <div class="socialAuth">
      <button mat-flat-button type="submit" (click)="LoginWithGoogle()" class="btn googleAuth">
        <img alt="Google" src={{urlGooglePath}} />Sign in with Google</button>
      <button mat-flat-button type="submit" (click)="doFacebookLogin()" class="btn facebookAuth">
        <img alt="Facebook" src={{urlFacebookPath}} />Sign in with Facebook</button>
    </div>
    <div class="signup"> <small class="title"> Don't have an account yet?<button class="tempButton" (click)="openSignUpDialog()">Sign
          Up</button></small></div>
  </mat-card>
</div>