.back {
    position: absolute;
    top: auto;
    min-height: calc(100vh - 49px);
    width: 100%;
    background-color:#609b9b;
}
    
    .signin-header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    }
    
    .signin-card {
    width: 300px;
    margin: 10% auto;
    box-shadow: none;
    background-color: rgba(255,255,255,0.8);
    }
    
    .signin-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    }
    .unselectable{
        -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
    }
    
    .mat-ink-bar{
    background-color:#00ADEE;
    }
    .mat-tab-label-active{
    color: #00ADEE !important;
    }
    .mat-flat-button {
        border-radius: 0;
    }

    .tempButton {
        background-color: transparent;
        border: none;
        text-decoration: underline;
        color: blue;
    }
