<div class="confirmation-dialog">
  <mat-dialog-content>
    <mat-card-header class="confirmation-dialog-header">
      <mat-card-title class="confirmation-dialog-title">{{ title }}</mat-card-title>
    </mat-card-header>
    <p class="font">{{ message }}</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="accept()">{{ btnOkText }}</button>
    <button mat-raised-button color="warn" (click)="decline()">{{ btnCancelText }}</button>
  </mat-dialog-actions>
</div>