.progress-percentage-wrapper {
    position: relative;
    font-size: 50px;
    margin-left: 2%;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-top: 0.5px;
}

.progress-percentage {
    position: absolute;
    width: 100%;
    text-align: center !important;
    top: 35%;
}

.isTurnOn{
    color: #609b9b;
}

.isTurnOff{
    color: #bfbfbf;
}

.isStoped{
    color: #ad2265;
}
