.recovery-password-form {
    width: 320px;
}

.recovery-password-full-width {
    width: 100%;
}

.passwordRecoveryContent {
    margin-top: -5px;
    margin-bottom: 5px;
}

.confirm-password {
    padding-top: 15px;
}