<h1 mat-dialog-title>Reset Password</h1>
<form [formGroup]="passwordRecoveryForm" (ngSubmit)="onSubmit(passwordRecoveryForm)" class="recovery-password-form" novalidate>
  <mat-dialog-content class = "passwordRecoveryContent">
    <mat-form-field class="recovery-password-full-width" hintLabel="Combination of 8 or more uppercase, lowercase letters, special symbols and numbers.">
      <input type="password" matInput placeholder="Password" [type]="hide ? 'text' : 'password'" formControlName="password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error>{{getErrorMessagePassword()}}</mat-error>
    </mat-form-field>
      <mat-form-field class="recovery-password-full-width confirm-password">
      <input type="password" matInput formControlName="passwordConfirm" [type]="hide ? 'text' : 'password'" placeholder="Confirm password">
      <mat-error>{{getErrorMessageConfirmPassword()}}</mat-error>
    </mat-form-field>
  </mat-dialog-content>
</form>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!passwordRecoveryForm.valid">Submit</button>
</mat-dialog-actions>
