<h1 mat-dialog-title>Set alarm</h1>
<mat-dialog-content>
  <form [formGroup]="alarmForm">
    <div class="input-time-area">
      <mat-form-field class="example-full-width">
        <input matInput (keypress)="numberOnly($event)" placeholder="Set hours" [(ngModel)]="hour" name="Hour" formControlName="hour">
        <mat-error>Please, input an hour between 0 and 23</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput (keypress)="numberOnly($event)" placeholder="Set minutes" [(ngModel)]="minute" name="Minute" formControlName="minute">
        <mat-error>Please, input a minute between 0 and 59</mat-error>
      </mat-form-field>
    </div>
    <div class="dateArea">
      <mat-form-field>
        <mat-select placeholder="Repeat" [(ngModel)]="repeat" name="Repeat" formControlName="repeatControl">
          <mat-option *ngFor="let repeat of alarmService.repeatOptions" [value]="repeat">
            {{repeat}}
          </mat-option>
          <mat-option [value]="alarmService.chosenDaysString" (click)="customOptionRepeat()">
            <ng-template [ngIf]="alarmService.chosenDaysString != ''">
              <span>{{alarmService.chosenDaysString}}</span>
            </ng-template>
            <ng-template [ngIf]="alarmService.chosenDaysString == ''">
              <span>Custom options</span>
            </ng-template>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="checkboxArea">
        <mat-checkbox color="primary" [(ngModel)]="isChecked" formControlName="checked">Alarm sound</mat-checkbox>
      </div>
    </div>
    <div class="messageArea">
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Input message" [(ngModel)]="message" [maxLength]="textareaLength" formControlName="messageControl"></textarea>
      </mat-form-field>
    </div>
    <div class="buttonArea">
      <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!alarmForm.valid || hour==='' || minute===''">
        Turn on
      </button>
        <button mat-raised-button color="warn" (click)="onClose()">Cancel</button>
    </div>
  </form>
</mat-dialog-content>
