.background{
    position: absolute;
    top: auto;
    min-height: calc(100vh - 49px);
    width: 100%;
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    min-width: 820px;
}

.mat-dialog-content p{
}

.mat-dialog-title{
}

.dialog-content{
width: 500px;
}

.dialog-content-div div{
    display: inline-block;
}

.title{
    width: 25%;;
}

.mat-dialog-title{
    width: 50%;
    margin-left: 0%;
}

.top div{
display: inline-block;
}

.topTitle{
width: 75%;
}

.exitButton{
    width: 25%;
    align-items: center;
    justify-content: center;
}

.content{
    width: 75%;
}

.mat-raised-button{
    width: 50px;
    min-width: 1px;
    padding: 0%;
    background-color: #dededa;
    margin-left: 50%;
}

button:hover{
    background-color:  #f9f9f9;
 }

