.main-area {
	text-align: right;
	position: absolute;
	top: auto;
	min-height: calc(100vh - 49px);
	width: 100%;
	background-color: #609b9b
}

.mat-icon-button {
    width: 4rem;
    height: 4rem;
    border: none;
    text-decoration: underline;
    color: blue;
}

.mat-icon-button:hover
{
    background-color: rgb(172, 205, 255);
}

.mat-icon{
    font-size:32px !important;
    height: 32px !important;
    width: 32px !important;
}

.turnOffAlarmBackground {
	background-color: #609b9b;
}

.turnOnAlarmBackground {
	background-color: red;
}

.content-area {
	width: 700px;
  height: 380px;
	margin: 5% auto;
}

.show-time-area {
	text-align: center;
}

.line-show-time {
	padding: 8px;
}

.show-time-area .time-element {
	margin: 18px 10px 19px;
	display: inline-block;
	font-size: 110px;
	padding: 20px;
	border-radius: 50%;
}

.show-time-area .time-span {
	display: inline-block;
	font-size: 110px;
}

.turnOn-alarm {
	color: blue;
}

.turnOnPlay-alarm {
	color: red;
}

.turnOff-alarm {
	color: #737373b5;
}

.progress-percentage-wrapper {
	position: relative;
	font-size: 50px;
	margin: 0 2.5%;
	width: 200px;
	height: 200px;
	display: inline-block;
}

.progress-percentage {
	position: absolute;
	color: #bbb;
	width: 100%;
	text-align: center !important;
	top: 35%;
}

.show-time-area .non-inputed-time {
	text-align: center;
	font-size: 90px;
	color: #609b9b;
	margin: 56.5px auto;
}

.input-time-area {
	text-align: center;
}

.input-time-area .mat-form-field {
	width: 175px;
	margin: 0px 35px;
}
.mat-card-content {
	margin-bottom: 13px;
}
.mat-card-content.line-show-time {
	margin-bottom: 29px;
}
.button-area {
	text-align: center;
}

.button-area .mat-button {
	margin: 2px 0;
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	border: none;
	text-decoration: underline;
	color: blue;
}

.button-area .mat-button:hover {
	background-color: rgb(172, 205, 255);
}

.button-area .mat-button:disabled, .button-area .mat-button[disabled] {
	color: #b9b9b9;
}

.style-menu{
   width: 40px;
	 height: 40px;
}
.mat-card>:first-child.negative-margin{
   margin-top:-7px;
}
