<div class="main-area" [ngClass]="{'turnOffAlarmBackground': !alarmService.isActive, 'turnOnAlarmBackground': alarmService.isActive}">
  <mat-card class="content-area">
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="styleService.changeStyle()">{{styleService.changeStyleString}}</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu" class="style-menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-card-content class="show-time-area" [ngClass]="{'line-show-time': alarmService.isChecked}">
      <ng-template [ngIf]="styleService.isLineStyle">
        <ng-template [ngIf]="alarmService.hour!='' && alarmService.minute!='' && alarmForm.valid">
          <div class="time-element" [ngClass]="{'turnOn-alarm': (alarmService.alarmOn&&(!alarmService.isActive)), 'turnOnPlay-alarm': (alarmService.alarmOn && alarmService.isActive), 'turnOff-alarm': !alarmService.alarmOn}">
            <ng-template [ngIf]="alarmService.hour < 10">
              <span class="text">0</span>
            </ng-template>
            <span class="text">{{alarmService.hour}}</span>
          </div>
          <div class="time-span" [ngClass]="{'turnOn-alarm': (alarmService.alarmOn&&(!alarmService.isActive)), 'turnOnPlay-alarm': (alarmService.alarmOn && alarmService.isActive), 'turnOff-alarm': !alarmService.alarmOn}">
            <span class="text" [ngClass]="{'blink': alarmService.alarmOn && !alarmService.isActive}">:</span>
          </div>
          <div class="time-element" [ngClass]="{'turnOn-alarm': (alarmService.alarmOn&&(!alarmService.isActive)), 'turnOnPlay-alarm': (alarmService.alarmOn && alarmService.isActive), 'turnOff-alarm': !alarmService.alarmOn}">
            <ng-template [ngIf]="alarmService.minute < 10">
              <span class="text">0</span>
            </ng-template>
            <span class="text">{{alarmService.minute}}</span>
          </div>
        </ng-template>
        <ng-template [ngIf]="(alarmService.hour=='' || alarmService.minute=='' || !alarmForm.valid)">
          <div class="non-inputed-time">
            <span>Not Set</span>
          </div>
        </ng-template>
      </ng-template>
      <ng-template [ngIf]="!styleService.isLineStyle">
        <div class="progress-percentage-wrapper" [ngClass]="{'turnOn-alarm': alarmService.alarmOn, 'turnOff-alarm': !alarmService.alarmOn}">
          <ng-template [ngIf]="(alarmService.hour!='') && alarmForm.valid ">
            <div class="progress-percentage ">{{alarmService.hour}}h</div>
          </ng-template>
          <ng-template [ngIf]="(alarmService.hour=='') || !alarmForm.valid ">
            <div class="progress-percentage ">{{0}}h</div>
          </ng-template>
          <round-progress [color]="alarmService.color" [max]="24" [current]="alarmService.hour" [radius]="100" [stroke]="25">
          </round-progress>
        </div>
        <div class="progress-percentage-wrapper">
          <ng-template [ngIf]="(alarmService.minute!='') && alarmForm.valid ">
            <div class="progress-percentage ">{{alarmService.minute}}m</div>
          </ng-template>
          <ng-template [ngIf]="(alarmService.minute=='') || !alarmForm.valid ">
            <div class="progress-percentage ">{{0}}m</div>
          </ng-template>
          <round-progress [color]="alarmService.color" [max]="60" [current]="alarmService.minute" [radius]="100"
            [stroke]="25">
          </round-progress>
        </div>
      </ng-template>
    </mat-card-content>
    <form [formGroup]="alarmForm">
      <div class="input-time-area">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Set hours" [(ngModel)]="alarmService.hour" name="Hour" formControlName="hour"
            [attr.disabled]="alarmService.alarmOn ?'': null">
          <mat-error>Please, input hour between 0 and 23</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Set minutes" [(ngModel)]="alarmService.minute" name="Minute" formControlName="minute"
            [attr.disabled]="alarmService.alarmOn ?'': null">
          <mat-error>Please, input minute between 0 and 59</mat-error>
        </mat-form-field>
      </div>
      <div class="button-area">
        <button mat-button (click)="alarmService.startArarm()" [disabled]="!alarmForm.valid || alarmService.hour=='' || alarmService.minute=='' || alarmService.alarmOn">
          <mat-icon>arrow_right</mat-icon>
        </button>
        <button mat-button (click)="alarmService.dismissAlarm()" [disabled]="!alarmForm.valid || alarmService.hour=='' || alarmService.minute=='' || !(alarmService.alarmOn)">
          <mat-icon>pause</mat-icon>
        </button>
        <button mat-button (click)="alarmService.refresh()" [disabled]="!alarmForm.valid || alarmService.hour=='' || alarmService.minute=='' || alarmService.alarmOn">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>

    </form>
  </mat-card>
</div>