<div class="back">
  <ng-template [ngIf]="roleService.isAdmin">
    <div class="my-container">
      <div class="display-buttons">
        <div>
          <div class="buttons">
            <button mat-raised-button [ngClass]="{'active': roleService.isDisplayUsers}" (click)="roleService.displayUsers()">Users</button>
            <button mat-raised-button [ngClass]="{'active': roleService.isDisplayAdmins}" (click)="roleService.displayAdmins()">Admins</button>
            <button mat-raised-button [ngClass]="{'active': roleService.isDisplaySuperAdmins}" (click)="roleService.displaySuperAdmins()">Super
              admins</button>
          </div>
        </div>
      </div>
        <mat-form-field>
          <input matInput [(ngModel)]="searchText" placeholder="Filter" class="input">
        </mat-form-field>
      <mat-divider></mat-divider>
      <mat-list>
        <ng-template [ngIf]="roleService.isDisplayUsers">
          <mat-list-item *ngFor='let email of roleService.emailOfUsers | filterEmail : searchText'>
            <div class="name">
              <p>{{email}}</p>
            </div>
            <div class="actions">
              <button mat-raised-button [hidden]="!roleService.isSuperAdmin" (click)="roleService.AddRole(email, 'Admin')"
                class="button-with-text">
                Make an admin
              </button>
              <button mat-raised-button matTooltip="message" [disabled]="true" [matTooltipShowDelay]="2000">
                <i class="fas fa-comment-dots"></i>
              </button>
              <button mat-raised-button matTooltip="Delete user" [matTooltipShowDelay]="2000" (click)="roleService.openConfirmationDialogUser(email)">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </mat-list-item>
        </ng-template>
        <ng-template [ngIf]="roleService.isDisplayAdmins">
          <mat-list-item *ngFor='let email of roleService.emailOfAdmins | filterEmail : searchText'>
            <div class="name">
              <p>{{email}}</p>
            </div>
            <div class="actions">
              <button mat-raised-button [hidden]="!roleService.isSuperAdmin" (click)="roleService.openConfirmationDialogRole(email, 'Admin')"
                class="button-with-text">
                Delete admin role
              </button>
            </div>
          </mat-list-item>
        </ng-template>
        <ng-template [ngIf]="roleService.isDisplaySuperAdmins">
          <mat-list-item *ngFor='let email of roleService.emailOfSuperAdmins | filterEmail : searchText'>
            <div class="name">
              <p>{{email}}</p>
            </div>
          </mat-list-item>
        </ng-template>
      </mat-list>
    </div>
  </ng-template>
  <ng-template [ngIf]="!roleService.isAdmin">
    <p>You are not admin</p>
  </ng-template>
</div>