.spacer {
    flex-grow: 1;
}
.mat-tab-link-active,
.mat-tab-label-active {
    color: black;
    background-color: lightskyblue;
    font-weight: bold;
}
.mat-tab-nav-bar{
    height:48px;
}

.mat-tab-link {
    padding: 0px 4px;
    min-width: 0px;
}

.tempButton{
    background: transparent;
}

::ng-deep .cdk-overlay-container .position + * > .cdk-overlay-pane{
    position: relative;
}

::ng-deep .cdk-overlay-container .position + * > .cdk-overlay-pane[style]{
    pointer-events: auto;
    top: 48px;
    left: 86.3%;
}

[hidden] {
    display: none !important; 
}

.fas { margin: 4px; }

.mobileMenu {
    display: none;
}

.mat-toolbar {
    height: 48px !important;
}

@media(max-width: 480px) {

	.desktopMenu {
		display: none;
    }
    .margin-spacer {
        margin-bottom: 48px;
    }
	.mobileMenu {
		display: block;
	}
}

@media(max-width: 810px) {
    
    .link-label {
        display: none;
    }    
}

.mobile-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
.mat-nav-list a.active {
    background: lightblue;
}

.mobile-toolbar {
    position: fixed;
    z-index: 2;
}
  
.mobile-sidenav-container {
    flex: 1;
}
  
.mobile-sidenav-container {
    flex: 1 0 auto;
}