<mat-dialog-content>
  <form [formGroup]="stopwatchDialogForm" class="stopwatch-dialog-form">
    <mat-form-field class="input">
      <input matInput formControlName="stopwatchName" placeholder="Stopwatch name" [(ngModel)]="stopwatchName">
      <mat-error>{{getErrorMessageNameAndTag()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput formControlName="stopwatchTag" placeholder="Tag" [(ngModel)]="stopwatchTag">
      <mat-error>{{getErrorMessageNameAndTag()}}</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [disabled]="!stopwatchDialogForm.valid" (click)="onSave()">Save</button>
  <span class="close-button">
    <button mat-raised-button color="warn" (click)="onClose()">Close</button>
  </span>
</mat-dialog-actions>