<div class="background-normal" [ngClass]="{'background-normal': timerServise.isTimerFinished === false, 
'background-red': timerServise.isTimerFinished}">
  <mat-card>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="styleService.changeStyle()">{{styleService.changeStyleString}}</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu" class="style-menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-card-header>
      <ng-template [ngIf]="!styleService.isLineStyle">
        <app-round-progress class="round-progress" [max]="timerServise.maxValueOfHour" [value]="timerServise.hour" [color]="timerServise.color"
          [text]="'h'"></app-round-progress>
        <app-round-progress class="round-progress" [max]="timerServise.secondPerMinute" [value]="timerServise.minute" [color]="timerServise.color"
          [text]="'m'"></app-round-progress>
        <app-round-progress class="round-progress" [max]="timerServise.secondPerMinute" [value]="timerServise.second" [color]="timerServise.color"
          [text]="'s'"></app-round-progress>
      </ng-template>
      <ng-template [ngIf]="styleService.isLineStyle">
        <div class="container-stopwatch" class="unselectable">
          <app-line-progress [value]="timerServise.hour" [isActive]="timerServise.isTimerRun" [isPaused]="timerServise.isTimerPause"
            [text]="':'"></app-line-progress>
          <app-line-progress [value]="timerServise.minute" [isActive]="timerServise.isTimerRun" [isPaused]="timerServise.isTimerPause"
            [text]="':'"></app-line-progress>
          <app-line-progress [value]="timerServise.second" [isActive]="timerServise.isTimerRun" [isPaused]="timerServise.isTimerPause"
            [text]="''"></app-line-progress>
        </div>
      </ng-template>
    </mat-card-header>
    <mat-card-actions [formGroup]="timerForm">
      <mat-form-field class="timer-input">
        <input matInput [(ngModel)]="timerServise.maxValueHour" placeholder="Set hour" formControlName="hour">
        <mat-error>{{getErrorMessageHour()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="timer-input">
        <input matInput [(ngModel)]="timerServise.maxValueMinute" placeholder="Set minute" formControlName="minute">
        <mat-error>{{getErrorMessageMinuteAndSecond()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="timer-input">
        <input matInput [(ngModel)]="timerServise.maxValueSecond" placeholder="Set second" formControlName="second">
        <mat-error>{{getErrorMessageMinuteAndSecond()}}</mat-error>
      </mat-form-field>
      <div class="button-area">
        <button mat-icon-button (click)="timerServise.startTimer()" [disabled]="!timerForm.valid || 
                (timerServise.maxValueMinute == 0 && timerServise.maxValueSecond == 0 && timerServise.maxValueHour == 0)">
          <mat-icon>arrow_right</mat-icon>
        </button>
        <button mat-icon-button [disabled]="timerServise.isTimerRun === false" (click)="timerServise.pauseTimer()">
          <mat-icon>pause</mat-icon>
        </button>
        <button mat-icon-button [disabled]="timerServise.isTimerRun === false" (click)="timerServise.resetTimer()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>