.background-red {
    position: absolute;
    top: auto;
    min-height: calc(100vh - 49px);
    width: 100%;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
}

.mat-icon-button {
    width: 4rem;
    height: 4rem;
    border: none;
    text-decoration: underline;
}

.mat-icon-button:hover {
    background-color: rgb(172, 205, 255);
}

.mat-icon {
    font-size: 32px !important;
    height: 32px !important;
    width: 32px !important;
}

.container-stopwatch {
    width: 600px;
    text-align: center;
    height: 200px;
}

.mat-card-content> :last-child:not(.mat-card-footer) {
    margin-bottom: 23px;
}

.mat-card-header {
    height: 200px;
    text-align: center;
}

.mat-card-actions {
    text-align: center !important;
    padding: 0;
}

.unselectable {
    margin-top: -14px !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 39.5px;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    align-items: baseline;
    margin-left: 6px;
}

.mat-card {
    width: 700px;
    height: 380px;
    margin: 5% auto;
    text-align: right;
}

.timer-input {
    margin-left: 3%;
    width: 26%;
}

.button-area {
    width: 100%;
    text-align: center;
}

.label-margin {
    margin-right: 7px;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.view-change-menu {
    width: 40px;
    height: 40px;
    float: left;
}

.round-progress {
    margin-left: 1% !important;
    margin-top: -1.5px;
}

.text {
    color: grey;
    font-size: 120px;
}

.view-preset-menu {
    width: 40px;
    height: 40px;
}

.timer-setting-buttons {
    margin-left: 9%;
}

.preset-info {
    top: 0;
    width: 255px;
    right: -255px;
    max-width: 255px;
    position: absolute;
    border-radius: 4px;
    background: #f9f9f9;
    word-break: break-all;
    padding-bottom: 30px;
}

.rotateIconLeft {
    transform: rotate(-180deg);
    transition-duration: 0.5s;
}

.rotateIconRight {
    transform: rotate(0deg);
    transition-duration: 0.5s;
}

@media(max-width: 1250px) {
    .preset-info {
        top: -1px;
        right: 60px;
        border: 1px solid #d0d0d0;
        z-index: 100;
    }
}

.current-timer {
    color: #609B9B;
}

.current-preset {
    display: inline-block;
    font-size: 22px !important;
    color: black;
}

.mat-icon.toggle {
    font-size: 22px !important;
    color: black;
    padding-bottom: 13px;
}

.font-preset-name {
    font-size: 18px;
}

.font-timer-name {
    float: left;
    font-size: 17px;
}

.preset-info-timers {
    padding: 5px 10px 5px 20px;
    text-align: left;
}

.preset-info-preset-name {
    margin: 20px 10px 15px 10px;
    text-align: left;
}

.margin-bottom {
    margin-bottom: 25px;
}

.mat-card>:first-child.negative-margin {
    margin-top: -7px;
}

.presets-settings-button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 18px;
    margin-right: -2px;
    outline: none;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    cursor: pointer;
}

.presets-settings-button:hover {
    color: grey;
    background-color: transparent;
}

.text {
    color: black;
    font-size: 120px;
}

.font-preset-name {
    font-size: 18px;
}

.font-timer-name {
    float: left;
    font-size: 17px;
}

.preset-info-timers {
    padding: 5px 10px 5px 20px;
    text-align: left;
}

.preset-info-preset-name {
    margin: 19px 10px 15px 10px;
    text-align: left;
}

.margin-bottom {
    margin-bottom: 25px;
}

.mat-card>:first-child.negative-margin {
    margin-top: -7px;
}

.temp-button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 18px;
    margin-right: -5px;
    outline: none;
}

.semicolomn {
    display: inline;
    font-size: 120px;
}

.view-timer-menu {
    width: 40px;
    height: 40px;
    margin-top: 9px;
}

.progress-percentage-wrapper {
    position: relative;
    font-size: 50px;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 0 0.5%;
}

.mat-card-content {
    margin-top: 0.5px;
    margin-left: -12px;
    text-align: center;
    margin-bottom: -4px;
    min-height: 223px;
}

@media(max-width: 735px) {

    .unselectable{
        padding-top: 32px !important;
    }

    .timer-input {
        margin-bottom: -1.9%;
    }

    .mat-card-content {
        min-height: auto;
    }

    .mat-card {
        width: auto;
        height: 350px;
        border-radius: 0%;
    }

    .progress-percentage-wrapper {
        font-size: 40px;
        margin-left: 1%;
        width: 175px;
        height: 175px;
    }
}

@media(max-width: 640px) {

    .unselectable{
        padding-top: 44px !important;
    }

    .text {
        font-size: 100px;
    }

    .semicolomn {
        font-size: 100px;
    }

    .mat-card {
        width: auto;
        height: 330px;
    }

    .progress-percentage-wrapper {
        font-size: 40px;
        margin-left: 1%;
        width: 160px;
        height: 160px;
    }

    .mat-card-content {
        min-height: auto;
    }

    .timer-input {
        margin-bottom: -2%;
    }
}

@media(max-width: 550px) {
    .unselectable{
        padding-top: 36px !important;
    }
    .text {
        font-size: 90px;
    }
    .semicolomn {
        font-size: 90px;
    }
    .mat-card {
        width: auto;
        height: 310px;
    }
    .progress-percentage-wrapper {
        font-size: 40px;
        margin-left: 1%;
        width: 140px;
        height: 140px;
    }
    .mat-card-content {
        min-height: auto;
    }
    .timer-input {
        margin-bottom: -3%;
    }
}

@media(max-width: 480px) {

    .unselectable{
        padding-top: 34.5px !important;
    }

    .background-red {
        background-image: none;
    }

    ::ng-deep mat-card {
        border: none !important;
        box-shadow: none !important;
    }
    .text {
        font-size: 80px;
    }
    .semicolomn {
        font-size: 80px;
    }
    .mat-card {
        width: auto;
        height: 290px;
        margin: 0;
    }
    .progress-percentage-wrapper {
        font-size: 30px;
        margin-left: 1%;
        width: 125px;
        height: 125px;
    }
    .mat-card-content {
        min-height: auto;
    }
    .timer-input {
        margin-bottom: -3%;
    }
}

@media(max-width: 420px) {
    .unselectable{
        padding-top: 22.3px !important;
    }
    .text {
        font-size: 70px;
    }
    .semicolomn {
        font-size: 70px;
    }
    .mat-card {
        width: auto;
        height: 270px;
    }
    .progress-percentage-wrapper {
        font-size: 30px;
        margin-left: 1%;
        width: 100px;
        height: 100px;
    }
    .mat-card-content {
        min-height: auto;
    }
    .timer-input {
        margin-bottom: -4%;
    }
}

@media(max-width: 360px) {
    .unselectable{
        padding-top: 25.7px !important;
    }
    .text {
        font-size: 60px;
    }
    .semicolomn {
        font-size: 60px;
    }
    .mat-card {
        width: auto;
        height: 250px;
    }
    .progress-percentage-wrapper {
        font-size: 30px;
        margin-left: 1%;
        width: 90px;
        height: 90px;
    }
    .mat-card-content {
        min-height: auto;
    }
    .timer-input {
        margin-bottom: -5%;
    }
}