.background-normal {
    position: absolute;
    top: auto;
    min-height: calc(100vh - 49px);
    width: 100%;
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    min-width: 820px;
}

.background-red {
    position: absolute;
    top: auto;
    min-height: calc(100vh - 49px);
    width: 100%;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    min-width: 820px;
}

.mat-icon-button {
    width: 4rem;
    height: 4rem;
    border: none;
    text-decoration: underline;
}

.mat-icon-button:hover {
    background-color: rgb(172, 205, 255);
}

.mat-icon {
    font-size: 32px !important;
    height: 32px !important;
    width: 32px !important;
}

.container-stopwatch {
    width: 600px;
    text-align: center;
    height: 200px;
}

.mat-card-header {
    height: 200px;
    text-align: center;
}

.mat-card-actions {
    margin-top: 2%;
    text-align: center !important;
}

.unselectable{
    margin-top: -14px !important;
    -webkit-touch-callout: none;   
    -webkit-user-select: none;   
    -moz-user-select: none;   
    -ms-user-select: none;
    user-select: none;
    padding-top: 41px;    
    display: inline-flex;    
    justify-content: center;    
    width: 100%;   
    align-items: baseline;
    margin-left: -32px;
}

.mat-card {
    width: 700px;
    height: 380px;
    margin: 5% auto;
    text-align: right;
}

.mat-action {
    margin-top: 10px;
}

.timer-input {
    margin-left: 3%;
    width: 26%;
}

.button-area {
    width: 100%;
    text-align: center;
    margin-left: 10px;
}

.label-margin {
    margin-right: 7px;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.view-change-menu {
    width: 40px;
    height: 40px;
    float: left;
}

.round-progress {
    margin-left: 1% !important;
}

.text {
    color: grey;
    font-size: 120px;
}

.view-preset-menu {
    width: 40px;
    height: 40px;
}

.timer-setting-buttons {
    margin-left: 9%;
}

.preset-info {
    top: 0;
    width: 255px;
    right: -255px;
    max-width: 255px;
    position: absolute;
    border-radius: 4px;
    background: #f9f9f9;
    word-break: break-all;
    padding-bottom: 30px;
}

.rotateIconLeft {
    transform: rotate(-180deg);
    transition-duration: 0.5s;
}

.rotateIconRight {
    transform: rotate(0deg);
    transition-duration: 0.5s;
}

@media(max-width: 1250px) {
    .preset-info {
        top: -1px;
        right: 60px;
        border: 1px solid #d0d0d0;
        z-index: 100;
    }
}

.current-timer {
    color: #609B9B;
}

.current-preset {
    display: inline-block;
}

.mat-icon.toggle {
    font-size: 22px !important;
    color: black;
    padding-bottom: 13px;
}

.font-preset-name {
    font-size: 18px;
}

.font-timer-name {
    float: left;
    font-size: 17px;
}

.preset-info-timers {
    padding: 5px 10px 5px 20px;
    text-align: left;
}

.preset-info-preset-name {
    margin: 20px 10px 15px 10px;
    text-align: left;
}

.margin-bottom {
    margin-bottom: 25px;
}

.mat-card>:first-child.negative-margin {
    margin-top: -7px;
}

.presets-settings-button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 18px;
    margin-right: -2px;
    outline: none;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    cursor: pointer;
}

.presets-settings-button:hover {
    color: grey;
    background-color: transparent;
}

.text {
    color: black;
    font-size: 120px;
}

.font-preset-name {
    font-size: 18px;
}

.font-timer-name {
    float: left;
    font-size: 17px;
}

.preset-info-timers {
    padding: 5px 10px 5px 20px;
    text-align: left;
}

.preset-info-preset-name {
    margin: 19px 10px 15px 10px;
    text-align: left;
}

.margin-bottom {
    margin-bottom: 25px;
}

.mat-card>:first-child.negative-margin {
    margin-top: -7px;
}

.temp-button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 18px;
    margin-right: -5px;
    outline: none;
}

.semicolomn{
    display: inline;
    font-size: 120px;
}

.mat-card {
	font-family: 'Times New Roman', Times, serif !important;
}