<div class="background-normal" [ngClass]="{'background-normal': timerServise.isTimerFinished === false, 
'background-red': timerServise.isTimerFinished}">
  <mat-card>
    <div class="toggle">
      <label for="" class="label-margin">Circle</label>
      <mat-slide-toggle [(ngModel)]="timerServise.isLine">Line</mat-slide-toggle>
      <span class="preset-name">{{timerServise.currentPreset}}</span>
    </div>
    <mat-card-header>
      <ng-template [ngIf]="!timerServise.isLine">
        <app-round-progress [max]="timerServise.maxValueOfHour"  [value]="timerServise.hour" [color]="timerServise.color" [text]="'h'"></app-round-progress>
        <app-round-progress [max]="timerServise.secondPerMinute" [value]="timerServise.minute" [color]="timerServise.color" [text]="'m'"></app-round-progress>
        <app-round-progress [max]="timerServise.secondPerMinute" [value]="timerServise.second" [color]="timerServise.color" [text]="'s'"></app-round-progress>
      </ng-template>
      <ng-template [ngIf]="timerServise.isLine">
        <div class="container-stopwatch" class="unselectable">
          <app-line-progress [value]="timerServise.hour" [isActive]="timerServise.isTimerRun" [isPaused]="timerServise.isTimerPause"
            [text]="':'"></app-line-progress>
          <app-line-progress [value]="timerServise.minute" [isActive]="timerServise.isTimerRun" [isPaused]="timerServise.isTimerPause"
            [text]="':'"></app-line-progress>
          <app-line-progress [value]="timerServise.second" [isActive]="timerServise.isTimerRun" [isPaused]="timerServise.isTimerPause"
            [text]="''"></app-line-progress>
        </div>
      </ng-template>
    </mat-card-header>
    <mat-card-actions [formGroup]="timerForm" class="mat-action">
      <mat-form-field class="timer-input">
        <input matInput type="number" min="0" max="24" [(ngModel)]="timerServise.maxValueHour" placeholder="Set hour" formControlName="hour">
        <mat-error>{{getErrorMessageHour()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="timer-input">
        <input matInput type="number" [(ngModel)]="timerServise.maxValueMinute" placeholder="Set minute" formControlName="minute">
        <mat-error>{{getErrorMessageMinuteAndSecond()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="timer-input">
        <input matInput type="number" [(ngModel)]="timerServise.maxValueSecond" placeholder="Set second" formControlName="second">
        <mat-error>{{getErrorMessageMinuteAndSecond()}}</mat-error>
      </mat-form-field>
      <div class="button-area">
        <span class="timer-setting-buttons">
          <button mat-icon-button (click)="timerServise.startTimer()" [disabled]="!timerForm.valid">
            <mat-icon>arrow_right</mat-icon>
          </button>
          <button mat-icon-button [disabled]="timerServise.isTimerRun === false" (click)="timerServise.pauseTimer()">
            <mat-icon>pause</mat-icon>
          </button>
          <button mat-icon-button [disabled]="timerServise.isTimerRun === false" (click)="timerServise.refreshTimer()">
            <mat-icon>refresh</mat-icon>
          </button>
          <button mat-icon-button [disabled]="timerServise.isTimerRun === false" (click)="timerServise.resetTimer()">
            <mat-icon>stop</mat-icon>
          </button>
        </span>
      </div>
      <span class="setting-button">
        <button mat-icon-button (click)="openPresetFormDialog()">
            <mat-icon>settings</mat-icon>
        </button>
      </span>
    </mat-card-actions>
  </mat-card>
</div>

