@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
}

.mat-tab-link {
    flex: 1 1 auto;
}

.custom-snackbar span{
    color: white;
    margin:auto;
    text-align: justify;
    font-size: 20px;
    width: auto;
}