.button {
    display: inline-flex;
    justify-content: center;
    margin-left: 5%;
}
  
.container {
    position: relative;
}
    
.container>div:first-child {
    width: 100%;
    padding-top: 10px;
}

#chart {
    margin: 0 25%;
    min-width: 250px;
    min-height: 150px;
    max-width: 700px;
    display: flex;
}
    
.buttons {
    margin-top: 5px;
    display: block;
    justify-content: center;
    align-items: baseline;
}

.buttons .mat-raised-button{
    background-color: white;
}

.buttons .active {
    background-color: lightgray;
}
    
.buttons .mat-raised-button:nth-child(1) {
    margin-left: 5%;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.buttons .mat-raised-button:nth-child(2){
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.buttons .mat-raised-button:nth-child(3) {
    margin-left: 80px;
    border-bottom-right-radius: 0px; 
    border-top-right-radius: 0px;
}

.buttons .mat-raised-button:nth-child(4){
    border-bottom-left-radius: 0px; 
    border-top-left-radius: 0px;
}

::ng-deep .buttons .mat-form-field {
    margin-left: 80px;
}

.datepicker{
    width: 100px;
}

@media(max-width:480px) {
    .mat-form-field {
        margin-left: 20px;
        width: 270px;
    }

    #chart {
        margin: 0 0;
    }

    .datepicker {
        width: 125px;
    }
}

#noData {
    padding-top: 50px;
}
    
.hidden {
    display: none;
}
    
#noData p {
    font-size: x-large;
    width: 300px;
    margin: 0 auto;
}
